.height-720px {
    height: 720px;
}

.height-730px {
    height: 730px;
}

.height-665px {
    height: 665px;
}

.background-image-col-lg-7-da-primeira-section {
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/28227efbbc70518a83e3e7bc/concept1.jpg);
    background-position: center;
    background-size: cover;
    height: 555px;
    margin: 47px auto 0 0;
}

.margin-70px {
    margin: 70px 0 70px auto;
}

.padding-left-16px {
    padding-left: 16px;
}

.padding-left-16px div {
    width: 77px;
    height: 116px;
    background-image: linear-gradient(#5de078, #52afce);
    margin: 0 auto 0 0;
}

.padding-left-16px h1 {
    margin: -69px 20px 0;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    font-size: 3.75rem;
    font-family: Roboto,sans-serif;
}

.padding-left-16px p {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 34px 20px 30px;
    line-height: 1.6;
}

.padding-left-16px a {
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(to right, #5de078, #52afce);
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 53px 14px 51px;
    letter-spacing: 2px;
    margin: 36px auto 0 20px;
}

.width-642px {
    width: 642px;
    height: 486px;
    height: auto;
    margin: 33px auto 60px;
    color: #243638;
}

.justify-content-center {
    justify-content: center;
    display: flex !important;
    flex-direction: column;
}

.justify-content-center h2 {
    margin: 45px 20px 0;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 3rem;
    font-family: Roboto,sans-serif;
}

.justify-content-center h5 {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-style: italic;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.justify-content-center p {
    margin: 20px 20px 0;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
}

.justify-content-center a {
    color: #ffffff;
    background-image: linear-gradient(to right, #5de078, #52afce);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 14px 53px 14px 51px;
    letter-spacing: 2px;
    height: 50px;
    position: relative;
    margin: 55px auto 45px 20px;
    font-size: 1rem;
    line-height: 1.4;
}

.background-image-col-lg-5-da-segunda-section {
    background-image: url(https://images01.nicepage.com/9c/a2/9ca202349e16a25d2efa1fbf70ab2008.jpeg);
    background-position: center;
    background-size: cover;
    height: 621px;
}

.background-image-col-lg-5-da-segunda-section img {
    width: 338px;
    height: 264px;
    box-shadow: 0 0 40px 0 rgb(51 51 51 / 35%);
    margin: -125px calc(((100% - 1140px) / 2) + 132px) 482px -65px;
}

.div-width-508px {
    width: 508px;
    height: 442px;
    background-image: linear-gradient(#5de078, #52afce);
    margin: 10px 105px 0 auto;
}

.div-width-759px {
    width: 759px;
    margin: -627px 159px 0 auto;
}

.flex-direction-column {
    flex-direction: column;
    flex: 1 1 100%;
    display: flex;
}

.background-image-col-lg-12-da-terceira-section {
    background-image: url(https://images01.nicepage.com/12/97/1297eb0353f9567b9c30d2497862cb44.jpeg);
    background-position: center;
    background-size: cover;
    height: 528px;
}

.div-width-290px {
    width: 290px;
    min-height: 301px;
    height: auto;
    background-image: linear-gradient(#5de078, #52afce);
    box-shadow: 0 0 38px 0 rgb(0 0 0 / 40%);
    margin: -555px auto 65px 0;
    position: relative;
}

.padding-left-e-right-20px {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.padding-left-e-right-20px h3 {
    padding: 35px 0 0;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 1.875rem;
    font-family: Roboto,sans-serif;
}

.padding-left-e-right-20px p {
    font-weight: 700;
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-left-e-right-20px a {
    border-color: #5de078;
    margin: 30px auto 7px 0;
    border-style: solid;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.8;
    text-decoration: none;
    font-weight: 600;
    border-width: 2px;
    color: #ffffff;
    padding: 5px;
}

.row-height-210px {
    height: 210px;
    width: 759px;
    margin-left: 0px;
    background-color: #e5e5e5;
}

.padding-left-padding-right-20px {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
}

.padding-left-padding-right-20px h3 {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    font-size: 3.75rem;
    margin: 20px 0 0;
}

.padding-left-padding-right-20px p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    position: relative;
    margin: 7px 0 20px;
    line-height: 1.6;
}



/* Responsivo */

@media (max-width: 320px) { 
    .background-image-col-lg-7-da-primeira-section {
        background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/28227efbbc70518a83e3e7bc/concept1.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
        margin: 47px auto 0 0;
    }

    .padding-left-16px h1 {
        margin: -69px 20px 0;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.1;
        font-size: 2.8rem;
        font-family: Roboto,sans-serif;
    }

    .padding-left-16px p {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 34px 20px 45px;
        line-height: 1.6;
    }

    .padding-left-16px {
        padding-left: unset;
    }

    .padding-left-16px div {
        width: 65px;
        height: 116px;
        background-image: linear-gradient(#5de078, #52afce);
        margin: 0 auto 0 0;
    }

    .height-720px {
        height: 930px;
    }

    .width-642px {
        width: 295px;
        height: auto;
        margin: 33px auto 60px;
        color: #243638;
    }

    .justify-content-center h2 {
        margin: 45px 20px 0;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.2;
        font-size: 2.6rem;
        font-family: Roboto,sans-serif;
    }

    .background-image-col-lg-5-da-segunda-section {
        background-image: url(https://images01.nicepage.com/9c/a2/9ca202349e16a25d2efa1fbf70ab2008.jpeg);
        background-position: center;
        background-size: cover;
        height: 450px;
        margin-top: 60px;
    }

    .height-730px {
        height: 1360px;
    }

    .background-image-col-lg-5-da-segunda-section img {
        width: 265px;
        height: 200px;
        box-shadow: 0 0 40px 0 rgb(51 51 51 / 35%);
        margin: -95px calc(((100% - 1140px) / 2) + 132px) 482px 15px;
    }

    .div-width-508px {
        width: 296px;
        height: 315px;
        background-image: linear-gradient(#5de078, #52afce);
        margin: 4px 88px 0 auto;
    }

    .div-width-759px {
        width: 272px;
        margin: -485px 159px 0 auto;
    }

    .row-height-210px {
        height: 580px;
        width: 272px;
        margin-left: 0px;
        background-color: #e5e5e5;
    }

    .div-width-290px {
        width: 273px;
        min-height: 290px;
        height: auto;
        background-image: linear-gradient(#5de078, #52afce);
        box-shadow: 0 0 38px 0 rgb(0 0 0 / 40%);
        margin: 0px auto 65px 0;
        position: relative;
    }

    .height-665px {
        height: 1165px;
    }

    .background-image-col-lg-12-da-terceira-section {
        background-image: url(https://images01.nicepage.com/12/97/1297eb0353f9567b9c30d2497862cb44.jpeg);
        background-position: center;
        background-size: cover;
        height: 290px;
        margin-top: 90px;
    }

}
  
@media (min-width: 321px) and (max-width: 375px) {
    .background-image-col-lg-7-da-primeira-section {
        background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/28227efbbc70518a83e3e7bc/concept1.jpg);
        background-position: center;
        background-size: cover;
        height: 295px;
        margin: 47px auto 0 0;
    }

    .padding-left-16px h1 {
        margin: -69px 20px 0;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.1;
        font-size: 3rem;
        font-family: Roboto,sans-serif;
    }

    .padding-left-16px p {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 34px 20px 45px;
        line-height: 1.6;
    }

    .height-720px {
        height: 930px;
    }

    .width-642px {
        width: 350px;
        height: auto;
        margin: 33px auto 60px;
        color: #243638;
    }

    .background-image-col-lg-5-da-segunda-section {
        background-image: url(https://images01.nicepage.com/9c/a2/9ca202349e16a25d2efa1fbf70ab2008.jpeg);
        background-position: center;
        background-size: cover;
        height: 450px;
        margin-top: 60px;
    }

    .height-730px {
        height: 1320px;
    }

    .background-image-col-lg-5-da-segunda-section img {
        width: 265px;
        height: 200px;
        box-shadow: 0 0 40px 0 rgb(51 51 51 / 35%);
        margin: -95px calc(((100% - 1140px) / 2) + 132px) 482px 60px;
    }

    .div-width-508px {
        width: 351px;
        height: 315px;
        background-image: linear-gradient(#5de078, #52afce);
        margin: 8px 88px 0 auto;
    }

    .div-width-759px {
        width: 327px;
        margin: -485px 159px 0 auto;
    }

    .row-height-210px {
        height: 580px;
        width: 327px;
        margin-left: 0px;
        background-color: #e5e5e5;
    }

    .div-width-290px {
        width: 327px;
        min-height: 290px;
        height: auto;
        background-image: linear-gradient(#5de078, #52afce);
        box-shadow: 0 0 38px 0 rgb(0 0 0 / 40%);
        margin: 0px auto 65px 0;
        position: relative;
    }

    .height-665px {
        height: 1210px;
    }

    .background-image-col-lg-12-da-terceira-section {
        background-image: url(https://images01.nicepage.com/12/97/1297eb0353f9567b9c30d2497862cb44.jpeg);
        background-position: center;
        background-size: cover;
        height: 345px;
        margin-top: 90px;
    }

}
  
@media (min-width:  376px) and (max-width: 576px) {   
    .background-image-col-lg-7-da-primeira-section {
        background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/28227efbbc70518a83e3e7bc/concept1.jpg);
        background-position: center;
        background-size: cover;
        height: 335px;
        margin: 47px auto 0 0;
    }

    .padding-left-16px h1 {
        margin: -69px 20px 0;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.1;
        font-size: 3.2rem;
        font-family: Roboto,sans-serif;
    }

    .padding-left-16px p {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 34px 20px 45px;
        line-height: 1.6;
    }

    .height-720px {
        height: 930px;
    }

    .width-642px {
        width: 400px;
        height: auto;
        margin: 33px auto 60px;
        color: #243638;
    }

    .background-image-col-lg-5-da-segunda-section {
        background-image: url(https://images01.nicepage.com/9c/a2/9ca202349e16a25d2efa1fbf70ab2008.jpeg);
        background-position: center;
        background-size: cover;
        height: 621px;
        margin-top: 60px;
    }

    .background-image-col-lg-5-da-segunda-section img {
        width: 300px;
        height: 230px;
        box-shadow: 0 0 40px 0 rgb(51 51 51 / 35%);
        margin: -125px calc(((100% - 1140px) / 2) + 132px) 482px 85px;
    }

    .height-730px {
        height: 1525px;
    }

    .div-width-508px {
        width: 401px;
        height: 442px;
        background-image: linear-gradient(#5de078, #52afce);
        margin: -77px 105px 0 auto;
    }

    .div-width-759px {
        width: 377px;
        margin: -627px 159px 0 auto;
    }

    .row-height-210px {
        height: 580px;
        width: 377px;
        margin-left: 0px;
        background-color: #e5e5e5;
    }

    .div-width-290px {
        width: 377px;
        min-height: 290px;
        height: auto;
        background-image: linear-gradient(#5de078, #52afce);
        box-shadow: 0 0 38px 0 rgb(0 0 0 / 40%);
        margin: 0px auto 65px 0;
        position: relative;
    }

    .height-665px {
        height: 1155px;
    }

    .background-image-col-lg-12-da-terceira-section {
        background-image: url(https://images01.nicepage.com/12/97/1297eb0353f9567b9c30d2497862cb44.jpeg);
        background-position: center;
        background-size: cover;
        height: 390px;
        margin-top: 90px;
    }

}
  
@media (min-width: 577px) and (max-width: 768px) {
    .height-720px {
        height: 1000px;
    }

    .background-image-col-lg-5-da-segunda-section img {
        width: 310px;
        height: 245px;
        box-shadow: 0 0 40px 0 rgb(51 51 51 / 35%);
        margin: -130px calc(((100% - 1140px) / 2) + 132px) 482px 350px;
    }

    .height-730px {
        height: 1200px;
    }

    .div-width-759px {
        width: 695px;
        margin: -627px 159px 0 auto;
    }

    .background-image-col-lg-12-da-terceira-section {
        background-image: url(https://images01.nicepage.com/12/97/1297eb0353f9567b9c30d2497862cb44.jpeg);
        background-position: center;
        background-size: cover;
        height: 528px;
        margin-top: 70px;
    }

    .div-width-508px {
        width: 508px;
        height: 442px;
        background-image: linear-gradient(#5de078, #52afce);
        margin: 4px -36px 0 auto;
    }

    .row-height-210px {
        height: 575px;
        width: 695px;
        margin-left: 0px;
        background-color: #e5e5e5;
    }

    .div-width-290px {
        width: 290px;
        min-height: 301px;
        height: auto;
        background-image: linear-gradient(#5de078, #52afce);
        box-shadow: 0 0 38px 0 rgb(0 0 0 / 40%);
        margin: -725px auto 65px 0;
        position: relative;
    }

    .height-665px {
        height: 990px;
    }

}
  
@media (min-width: 769px) and (max-width: 992px) {
    
}
  
@media (min-width: 993px) and (max-width: 1200px) {
    .background-image-col-lg-7-da-primeira-section {
        background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/28227efbbc70518a83e3e7bc/concept1.jpg);
        background-position: center;
        background-size: cover;
        height: 470px;
        margin: 47px auto 0 0;
    }

    .width-642px {
        width: 560px;
        height: auto;
        margin: 33px auto 60px;
        color: #243638;
    }

    .justify-content-center h2 {
        margin: 45px 20px 0;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.2;
        font-size: 2.7rem;
        font-family: Roboto,sans-serif;
    }

    .div-width-508px {
        width: 508px;
        height: 442px;
        background-image: linear-gradient(#5de078, #52afce);
        margin: 10px 0px 0 auto;
    }

    .div-width-759px {
        width: 759px;
        margin: -627px 65px 0 auto;
    }

}
  
@media (min-width: 1201px) {
    
}